+section('Examples')
  +subsection('Basic Example')
    :markdown-it
      The basic component example with `text` property interpolation.
    +example('BasicExample')
  +subsection('Events')
    :markdown-it
      The click counter.
    +example('EventsExample')
  +subsection('Loops')
    :markdown-it
      For loop example.
    +example('Loops')
